@model List<WebFinal.ViewModels.Query8ViewModel>

<h3 class="text-center">Какое количество кур обслуживает каждый работник?</h3>

<table class="table ">
    <tr>
        <th>Данные работника</th>
        <th>Количество</th>



        @foreach (var item in Model)
        {
        <tr>
            <td>@item.SurNameNP</td>
            <td>@item.CCount</td>
        </tr>
    }

    </table>